{% extends 'layout.html' %}

{% block body %}

<div class="signup-box">
    <h1>Sign Up</h1>
<h4>Join Our Platform</h4>
<form action="/sign_up" method="POST">
    <label for="first">First Name</label>
    <input type="text" name="Firstname" id="Firstname" placeholder="First Name">
    <label for="first">Last Name</label>
    <input type="text" name="Lastname" id="Lastname" placeholder="Last Name">
    <label for="first">Country</label>
    <input type="text" name="Country" id="Country" placeholder="Country">
    <label for="first">Email</label>
    <input type="text" name="Email" id="Email" placeholder="email">
    <label for="first">Password</label>
    <input type="password" name="Password" id="Password" placeholder="">
    <label for="first">Confirm Password</label>
    <input type="password" name="confirm_password" id="">
    <input type="button"value="submit">
</form>
<p> By clicking the Sign Up button, you agree to our <br> 
<a href="">Terms and Condition</a> and <a href="">Policy Privacy</a></p>
</div>
<p class="para2">Already have an account? <a href="sign_in.html">Login here</a></p>
{% endblock %}
